.carousel-item {
  height: 600px;
}

body {
  padding-bottom: 3rem;
}

.float-end,
.text-main {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}